.employee-header {
    background-color: #244f96;
}

.employee-details {
    display: flex;
}

.employee-details1 {
    display: flex;
}

.employee-links {
    ul {
        padding: 0;

        li {
            list-style-type: none;
            padding: 0px;
            cursor: pointer;
            text-align: start;
        }

        li:active {
            color: #244f96 !important;
            background-color: white;
        }

        li:hover {
            color: #244f96 !important;
            background-color: white;
        }

        a {
            color: white !important;
            font-size: 18px;
            text-decoration: none;
            // padding: 10px 0 10px 40px;
            padding: 0.8vw 0 0.8vw 2vw;
            display: flex;
        }

        a:hover {
            color: #244f96 !important;
            background-color: white;
        }
    }
}

.employee-sidebar {
    width: 15%;
    background-color: #244f96;
    position: fixed;
    height: 100vh;
}

.employee-data {
    display: flex;
    flex-direction: column;
    width: 85%;
    position: absolute;
    right: 0;
    padding-bottom: 3vw;
}

.employee-data-header {
    display: flex;
    justify-content: center;

    h1 {
        color: #244f96;
    }

    h2 {
        color: #244f96;
        position: absolute;
        right: 3%;
    }
}
.employee-data-main{
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: -1.5vw;
    gap: 1vw;
    h1{
        color: black;
        font-weight: 400;
        font-family: sans-serif;
        font-size: 1.2vw;
    }
    button{
        width: 8vw;
        color: white;
        font-weight: 400;
        font-family: sans-serif;
        font-size: 1vw;
    }

}
.employee-data-search {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    width: 20%;
    h1 {
        color: #244f96;
    }

    h2 {
        color: #244f96;
        position: absolute;
        right: 3%;
    }
}



// div {
//     text-align: center;
//     padding: 20px;
//   }
  
//   input[type="text"] {
//     padding: 10px;
//     width: 300px;
//     font-size: 16px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     margin-right: 10px;
//   }
  
//   button {
//     padding: 10px 20px;
//     font-size: 16px;
//     background-color: #007BFF;
//     color: #fff;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//   }
  
  

.MuiPaper-root {
    width: 100%;
    margin-top: 40px;
}

.line {
    border-top: 1px solid white;
    margin: 0;
}

.logout {
    text-align: start;

    h4 {
        padding: 0.8vw 0 0.8vw 2vw;
        cursor: pointer;
        text-align: start;
        margin: 0;
        font-weight: 400;
        font-size: 18px;
    }

    h4:hover {
        color: #244f96 !important;
        background-color: white;
    }
}

.fa-pencil {
    font-size: 20px;
}

.MuiTableSortLabel-root {
    font-size: 16px !important;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationItem {
    background: #fff;
    border: 2px solid #666;
    padding: 10px 15px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prev,
.next {
    background: #fff;
    border: none;
    padding: 10px;
    color: blue;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    cursor: pointer;
}

.paginationItem.active {
    border: 1px solid #888;
    color: #888;
    pointer-events: none;
}

.prev.disabled,
.next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
}

.employee-data {
    position: unset;
}
.employee-sidebar {
    width: 15%;
    background-color: #244f96;
    position: unset !important;
    height: auto !important;
    // display: none;
}
.MuiPaper-root {
    // position: unset !important;
    // margin-top: 0 !important;
}
.Component-horizontalScrollContainer-12 {
    position: unset !important;
}

.logs {
    background-color: #244f96;
    margin: 0;
    width: 4vw;
    padding: 0.7vw 0;
    font-size: 0.8vw;
    cursor: pointer;
}