body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    width: 100%;
}

.form-box1 {
    width: 50%;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0.5;
    border-radius: 2%;
}

.form-1 {
    display: flex;
    justify-content: space-between;
}

.form-l {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.form-r {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.header-form {
    margin-bottom: 15px;
    h4 {
        font-size: 30px;
        margin: 0;
    }
}

button {
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 15px;
    width: 75%;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 10px;
}

.message {
    // display: flex;
    // justify-content: space-between
}

.social {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.social i {
    font-size: 35px;
}

.social i:hover {
    color: red;
    cursor: pointer;
}


.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 0 5px 5px 0;
    border: none;
    width: 75%;
}

.form-input {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.form-select {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.input-group-text {
    background-color: grey;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}
.btn {
    cursor: pointer;
}