@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.confirm {
  position: fixed;
  background-color: $dark_shadow3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;

  &__dialog {
    background-color: white;
    box-shadow: 0 4px 16px 0 #ffffff40;
    // width: 30%;
    padding: 2vw 4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    color: white;

    &__center-div {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      // width: 80%;
    }

    &__button {
      width: auto !important;
      padding: $font_small;
      border: none;

      &--cancel {
        background: $dark2;
        box-shadow: 6px 6px 9px 0 $dark_shadow4, -6px -6px 8px 0 $white_shadow2,
          inset 4px 4px 8px 0 $white_shadow5,
          inset -3px -3px 8px 0 $dark_shadow9;
        padding: $font_medium;
      }

      &--cancel:active {
        box-shadow: inset -6px -6px 6px 0 $dark6,
          inset 6px 6px 8px 0 $dark_shadow10, inset 6px 6px 8px 0 $dark_shadow10,
          inset -6px -6px 6px 0 $dark6;
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(119deg, $shadow2 0%, $shadow3 98%);
        border-image-slice: 1;
        background: linear-gradient(to bottom, $dark2, $dark2),
          linear-gradient(119deg, $shadow2 0%, $shadow3 98%);
        background-origin: border-box;
        background-clip: content-box, border-box;
      }
    }

    &__button:focus {
      outline: none;
    }

    &__content {
      padding: 0 0;
    }

    &__description {
      font-family:  "Nunito", Helvetica, Arial, sans-serif;
      font-size: 22px;
      color: black;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      margin: 0;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: center;
    }

    &__footer {
      justify-content: space-evenly;
      display: flex;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .confirm {
    &__dialog {
      width: 60%;
    }
  }
}
